.rootContainer {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContentContainer {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--white);
  margin: auto;
  border: 1px solid var(--grey);
  transition: 0.4s all ease-in;
  border-radius: 2px;
  width: 506px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}


@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .modalContentContainer {
    max-width: 95%;
  }
}